// ==== Color Palette ====
$neutral-900: #062630;
$neutral-700: #385159;
$neutral-200: #e6e1df;
$neutral-100: #faf5f3;
$neutral-0: #ffffff;

$light-salmon-500: #fea86f;
$light-salmon-100: #ffe2d1;
$light-salmon-50: #fff5ef;

// ==== Gradients ====
$gradient-text: linear-gradient(107deg, #fea86f -11.47%, #062630 61.84%);
$gradient-bg: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);

// ==== Fonts ====
$font-martian: "Martian Mono", monospace;
$font-inter: "Inter", sans-serif;

// ==== Text Presets ====
